[submodule "acceltran"]
	path = acceltran
	url = https://github.com/JHA-Lab/acceltran.git
[submodule "boshnas"]
	path = boshnas
	url = https://github.com/JHA-Lab/boshnas.git
[submodule "txf_design-space"]
	path = txf_design-space
	url = https://github.com/JHA-Lab/txf_design-space.git
